<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Settings for CPU</comment>
    <entry key="logConf">conf/log.conf</entry>
    
    <entry key="Proxy_Port">33005</entry>
    <entry key="Proxy_IP">127.0.0.1</entry>
    <entry key="Proxy_Plugins">Proxy</entry>
    
    <!--<entry key="DB_Master_IP">172.22.248.227</entry>-->
    <entry key="DB_Master_IP">127.0.0.1</entry>
    
    <entry key="DB_Slave_IP">127.0.0.1</entry>
    
    <entry key="DB_Database">cz3003master</entry>
    <entry key="DB_User">cz3003Master</entry>
    <entry key="DB_Pwd">admin</entry>
    
    <entry key="Social_Port">33006</entry>
        
    <entry key="SMS_Port">33007</entry>
    
    <entry key="Notification_Port">33008</entry>
    
    <entry key="Dengue_Port">33009</entry>
    
    <entry key="Haze_Port">33010</entry>
    
    <entry key="Email_Port">33011</entry>
    
    <entry key="Report_Port">33012</entry>
    
    <entry key="Incident_Message">Incident Report : %s at %s. Visit http://cz3003backend-cz3003master.rhcloud.com/ for more info</entry>
    
    <entry key="Haze_Message">Haze Report (%s): PSI at %s , Air quality %s. Visit http://cz3003backend-cz3003master.rhcloud.com/ for more info</entry>
    
    <entry key="Dengue_Message">Dengue Report (%s) : %s red zone, %s yellow zone. Visit http://cz3003backend-cz3003master.rhcloud.com/ for more info</entry>
</properties>